<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="robotiq_gripper">
    <!-- parameters -->
    <xacro:arg name="use_fake_hardware" default="true" />
    <xacro:arg name="com_port" default="/dev/ttyUSB0" />
    <xacro:arg name="parent" default="world" />
    <xacro:arg name="origin" default="0 0 0 0 0 0" />

    <!-- Split the origin into xyz and rpy -->
    <xacro:property name="origin_clean" value="${'$(arg origin)'.replace('&quot;', '')}" />
    <xacro:property name="origin_xyz" value="${origin_clean.split()[0:3]}" />
    <xacro:property name="origin_rpy" value="${origin_clean.split()[3:6]}" />

    <!-- Import macros -->
    <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_140_macro.urdf.xacro" />

    <link name="$(arg parent)" />
    <xacro:robotiq_gripper name="RobotiqGripperHardwareInterface" prefix="" parent="$(arg parent)" use_fake_hardware="$(arg use_fake_hardware)" com_port="$(arg com_port)">
        <origin xyz="${' '.join(origin_xyz)}" rpy="${' '.join(origin_rpy)}" />
    </xacro:robotiq_gripper>
</robot>
